rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/analyses/{analysisId} {
      allow create, read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    match /system_logs/{logId} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null && request.auth.token.admin == true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
